Repository Kamenorite/playwright-axe-lighthouse-combination: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint {staged_files} --fix

prettier:
  run: npx prettier --write {staged_files}

chore: add proper .gitignore file
  .gitignore
Due: none

chore: remove .env file from git tracking
  .env
Due: none

chore: downgrade lefthook to version 1.5.5 for Node.js v23 compatibility
  package.json
Due: prettier

chore: downgrade prettier to version 2.8.8 for Node.js v23 compatibility
  package.json
Due: prettier

chore: downgrade commitlint packages to version 17.8.1 for Node.js v23 compatibility
  README.md
  package.json
Due: prettier

docs: update Node.js compatibility information
  README.md
Due: prettier

docs: update Node.js version requirement to v18
  README.md
  package-lock.json
Due: prettier

docs: update Node.js version to 22.1.0 and add version management instructions
  .nvmrc
  .tool-versions
  README.md
Due: prettier

refactor: simplify repository to focus on e-commerce example
  README.md
  package-lock.json
  package.json
  tests/demo-todo-app.spec.js
Due: eslint, prettier

fix: update lefthook pre-push script to use new test command
  lefthook.yml
Due: prettier

Update README.md
  README.md
Due: prettier

refactor(modules): convert codebase from CommonJS to ES Modules
  .eslintrc.cjs
  .eslintrc.js
  commitlint.config.cjs
  package.json
  playwright.config.js
  tests/ecommerce.spec.js
  tests/helpers/audits/audit-cache.js
  tests/helpers/audits/axe-audit.js
  tests/helpers/audits/lighthouse-audit.js
  tests/helpers/config/audit-config.js
  tests/helpers/index.js
  tests/helpers/reporting/consolidated-report.js
  tests/helpers/state.js
  tests/helpers/utils/file-utils.js
Due: eslint, prettier

docs: update README with ES Module information
  README.md
Due: prettier

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml}
